workflows/bambulab-notifications.workflow.json
{
	"id": "bambulab-notifications",
	"name": "Bambu Lab Printer Notifications",
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"nodes": [
		{
			"id": "n1",
			"name": "Bambu Lab Printer Trigger",
			"type": "CUSTOM.bambuLabTrigger",
			"typeVersion": 1,
			"position": [240, 320],
			"parameters": {
				"pollInterval": 30,
				"responseMode": "summary",
				"stateChangeOnly": true
			},
			"notesInFlow": true,
			"notes": "Polls every 30 s. Only emits when printer state changes.\nAssign your 'Bambu Lab Local' credential before activating."
		},
		{
			"id": "n2",
			"name": "Print Complete?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [500, 320],
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "loose"
					},
					"conditions": [
						{
							"id": "c1",
							"leftValue": "={{ $json.state }}",
							"rightValue": "FINISH",
							"operator": {
								"type": "string",
								"operation": "equals"
							}
						}
					],
					"combinator": "and"
				}
			}
		},
		{
			"id": "n3",
			"name": "Printer Error?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [500, 520],
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict"
					},
					"conditions": [
						{
							"id": "c2",
							"leftValue": "={{ $json.error_code }}",
							"rightValue": 0,
							"operator": {
								"type": "number",
								"operation": "notEquals"
							}
						}
					],
					"combinator": "and"
				}
			}
		},
		{
			"id": "n4",
			"name": "Notify: Print Complete",
			"type": "n8n-nodes-base.telegram",
			"typeVersion": 1.2,
			"position": [760, 220],
			"parameters": {
				"resource": "message",
				"operation": "sendMessage",
				"chatId": "",
				"text": "={{ '\u2705 Print Complete: ' + ($json.task_name || 'Your print') + String.fromCharCode(10) + 'Progress: ' + $json.progress_pct + '% | Layers: ' + $json.current_layer + '/' + $json.total_layers + String.fromCharCode(10) + 'Finished at: ' + $json.received_at }}",
				"additionalFields": {
					"disable_notification": false
				}
			},
			"credentials": {}
		},
		{
			"id": "n5",
			"name": "Notify: Printer Error",
			"type": "n8n-nodes-base.telegram",
			"typeVersion": 1.2,
			"position": [760, 520],
			"parameters": {
				"resource": "message",
				"operation": "sendMessage",
				"chatId": "",
				"text": "={{ '\\u26a0\\ufe0f Printer Error ' + $json.error_code + ' on ' + ($json.task_name || 'unknown') + String.fromCharCode(10) + 'State: ' + $json.state }}",
				"additionalFields": {
					"disable_notification": false
				}
			},
			"credentials": {}
		},
		{
			"id": "n7",
			"name": "Note",
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [220, 160],
			"parameters": {
				"content": "## Bambu Lab Printer Notifications\n\nThis workflow reacts in real time to printer state changes.\n\n**Setup:**\n1. Assign the **Bambu Lab Local** credential to the trigger node\n2. Add a **Telegram** credential (Bot Token) to the Send Telegram Message node and set your Chat ID\n3. Activate the workflow\n\n**What fires:**\n- **Print Complete** — state transitions to `FINISH`\n- **Error Alert** — `error_code` becomes non-zero\n\nAll other state changes are ignored.",
				"height": 260,
				"width": 860,
				"color": 7
			}
		}
	],
	"connections": {
		"Bambu Lab Printer Trigger": {
			"main": [
				[
					{
						"node": "Print Complete?",
						"type": "main",
						"index": 0
					},
					{
						"node": "Printer Error?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Print Complete?": {
			"main": [
				[
					{
						"node": "Notify: Print Complete",
						"type": "main",
						"index": 0
					}
				],
				[]
			]
		},
		"Printer Error?": {
			"main": [
				[
					{
						"node": "Notify: Printer Error",
						"type": "main",
						"index": 0
					}
				],
				[]
			]
		},
		"Notify: Print Complete": {
			"main": [[]]
		},
		"Notify: Printer Error": {
			"main": [[]]
		}
	}
}
